
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
.contacto-copia,
.contacto-copia * {
  box-sizing: border-box;
}
.contacto-copia {
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.para-m-s-informaci-n-o-resolver-dudas-escr-benos-congitivismoparaabuelas-mocamail-chan-o-encuentranos-en-instagram-cognitivismoparaabuelas {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 158px;
  top: 236px;
  width: 1250px;
  height: 494px;
}
.estrellas {
  height: auto;
  position: absolute;
  left: 26px;
  top: 24px;
  overflow: visible;
}
.cognitivismoparaabuelas {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 744px;
  top: 148px;
  width: 396.12px;
  height: 47.91px;
}
.festival-de-animaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 102px;
  font-weight: 400;
  position: absolute;
  left: 550px;
  top: 50px;
  width: 1265px;
  height: 131px;
}
.pagina-anterior {
  width: 379px;
  height: 74px;
  position: absolute;
  left: 55px;
  top: 856px;
  overflow: hidden;
}
.p-gina-anterior {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 3px;
  top: 7px;
}
.inicio {
  width: 321px;
  height: 70px;
  position: absolute;
  left: 31px;
  top: 947px;
  overflow: hidden;
}
.volver-a-inicio {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 0px;
  width: 337px;
  height: 54px;
}
.leon {
  width: 516px;
  height: 520px;
  position: absolute;
  left: 1268px;
  top: 497px;
  object-fit: cover;
  aspect-ratio: 516/520;
}
