@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
.pagina-de-inicio-copia,
.pagina-de-inicio-copia * {
  box-sizing: border-box;
}
.pagina-de-inicio-copia {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.estrellas {
  height: auto;
  position: absolute;
  left: 42px;
  top: 41px;
  overflow: visible;
}
.cognitivismoparaabuelas {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 772px;
  top: 141px;
  width: 377px;
  height: 45px;
}
.festival-de-animaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 102px;
  font-weight: 400;
  position: absolute;
  left: 520px;
  top: 50px;
  width: 1265px;
  height: 131px;
}
.bienvenid-s {
  color: #ffffff;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 690px;
  top: 218px;
}
.os-presentamos-la-sexta-edici-n-del-festival-de-animaci-n-organizado-por-cognitivismoparaabuelas-en-esta-ocasi-n-se-trata-de-un-concurso-quieres-saber-m-s {
  color: #ffffff;
  text-align: center;
  font-family: "Jaro", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 128px;
  top: 370px;
  width: 1664px;
  height: 476px;
}
.boton-informacion {
  width: 635px;
  height: 346px;
  position: absolute;
  left: 643px;
  top: 644px;
  overflow: hidden;
}
.gato {
  width: 720px;
  height: 239px;
  position: absolute;
  left: -37px;
  top: 83px;
  object-fit: cover;
  aspect-ratio: 720/239;
}
.informaci-n {
  color: #ff0048;
  text-align: left;
  font-family: "Jaro", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 153px;
  width: 447.72px;
  height: 100.61px;
}
